#line-chart {
    height:300px;
    width:800px;
    margin: 0px auto;
    margin-top: 1em;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
    color: #fff;
}
.loginMainContainer{
    background-color: #d8d8d8;
    width: 100%;
    min-height: 100vh;
    display: flex;
    display: -webkit-flex;
}
.loginCon{
    width: 30%;
    max-width: 500px;
    min-width: 300px;
    padding: 1.5em 2em 2em;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #989292;
}
.mx-0{
    margin-right: 0px !important;
    margin-left: 0px !important;
}